.default-color0.chart-pie { -fx-pie-color: #4CAF50; }
.default-color0.chart-legend-item-symbol { -fx-background-color: #4CAF50; background-color: #4CAF50;}

.default-color1.chart-pie { -fx-pie-color: #F44336; }
.default-color1.chart-legend-item-symbol { -fx-background-color: #F44336; background-color: #F44336;}

.chart-legend-item {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    font-weight: bold;
}